{% extends 'rango/base.html' %}

{% block title %}Adicione uma nova categoria {% endblock title %}

{% block body_block %}
<div class="ui grid">
    <div class="six wide centered column">
        <form  class="ui form" role="form" id="category_form" method="post" action=".">
            <h2 class="ui dividing header"> Adicione uma categoria</h2>
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
            {% endfor %}

            <br />
            <button class="ui blue submit button" type="submit" name="submit"> Adicionar</button>
        </form>
    </div>
</div>
{% endblock body_block %}