{% extends 'rango/base.html' %}

{% block title %}Adicione uma página em {{ category.name }}{% endblock title%}

{% block body_block %}
    {% if category %}

        <div class="ui grid">
            <div class="six wide centered column">
                <form class="ui form"  id="page_form" method="post" action="{% url 'add_page' category.slug %}">
                    <h2 class="ui dividing header">Adicione uma página em <a href="{%  url 'category' category.slug %}"> {{ category.name }}</a></h2>
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}<br/>
                    {{ field }}<br/>
                    {% endfor %}

                    <br/>
                    <button class="ui blue submit button" type="submit" name="submit">Adicionar</button>
                </form>
            </div>
        </div>

    {%  else %}
        <p>Essa categoria não existe.</p>
    {%  endif %}

{% endblock body_block %}