{% extends 'rango/base.html' %}

{% block body_block %}
<div class="ui grid">
    <div class="eight wide column">
        <div class="ui segments">
            <div class="ui blue inverted segment">
                <h4 class="ui header white centered">Top 5 Categorias mais curtidas:</h4>
            </div>

            {% for category in categories %}
            <div class="ui secondary segment"><a href="{% url 'category' category.slug %}">{{ category.name }}</a> ({{ category.likes }} - {{ category.views }})</div>
            {% empty%}
            <strong>Não existem categorias.</strong>
            {% endfor %}
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui segments">
            <div class="ui blue inverted segment">
                <h4 class="ui header white centered"> Top 5 Páginas mais visitadas:</h4>
            </div>

            {% for page in pages %}
            <div class="ui secondary segment"><a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a> ({{ page.views }})</div>
            {% empty %}
            <strong>Não existem páginas.</strong>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
<p> Visitas: {{ visits }}</p>

{% endblock body_block %}