{% extends "rango/base.html" %}

{% block title %}Perfil{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <div class="panel-heading">
        <h3 class="panel-title"> {{ u.username }}</h3>
    </div>
    <p>{{ u.first_name}} {{ u.last_name}}</p>
    <p>Email: {{ u.email }}</p>

    {% if userprofile %}
        <p>Website: <a href="{{ userprofile.website }}">{{ userprofile.website }}</a></p>
        <br/>
        {% if userprofile.picture %}
            <img src="{{ userprofile.picture.url }}"  />
        {% endif %}
    {% endif %}
</div>
{% endblock %}