{% extends 'rango/base.html' %}

{% load bootstrap_toolkit %}

{% block title %}Registre-se {% endblock title %}

{% block body_block %}
<div class="ui grid">
    <div class="six wide centered column">
        <h2 class="ui dividing header">Registre-se no Rango</h2>

        {% if registered %}
        <strong>Obrigado por registrar-se!</strong>
        <a href="{% url 'index' %}">Voltar a homepage.</a><br />
        {% else %}
        <form class="ui form"  role="form" id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form|as_bootstrap }}
            {{ profile_form|as_bootstrap }}
            <p>
                <input class="ui blue submit button" type="submit" name="submit" value="Registre-se" />
            </p>
        </form>
        {% endif %}
    </div>
</div>
{% endblock body_block %}