{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Página restrita do Rango {% endblock title %}

{% block body_block %}
    <div class="ui grid">
        <div class="six wide centered column">

            <h2 class="ui dividing header">Página Restrita no Rango</h2>

            <strong> Como você está autenticado, como {{ user.username }} consegue ver essa página!</strong>
        </div>
    </div>
{% endblock body_block %}